@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
}


* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
  width: 81%;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  padding: 5px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  color: #e5e7eb;
  font-size: 18px;
}

.main {
  display: flex;
  width: 81%;
  background-color: #1f2937;
  justify-content: space-around;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 80px;
}

.content h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 5px;
}

.content p {
  color: #e5e7eb;
  font-size: 18px;
  margin-bottom: 10px;
}

.main-btn {
  width: 30%;
  background-color: #3882f6;
  border: none;
  border-radius: 8px;
  color: #f9faf8;
  font-weight: bold;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.image {
  width: 35%;
  background-color: aqua;
  margin-right: 50px;
}

.random-info {
  display: flex;
  flex-direction: column;
  width: 81%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.info-header {
  color: #1f2937;
  font-size: 36px;
  font-weight: bolder;
}
.random-con {
  display: flex;
  width: 81%;
  margin-top: 20px;
  justify-content: center;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12%;
}

.square {
  height:70px;
  width: 70px;
  border: 2px solid #3882f6;
  border-radius: 8px;
}

.info-p {
  font-size: smaller;
  text-align: center;
}

.quote-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  width: 81%;
  margin-top: 50px;
}

.quotation {
  text-align: left;
  font-weight: lighter;
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  margin-top: 80px;
  margin-left: 100px;
  margin-right: 100px;
}

.author {
  text-align: end;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-left: 550px;
  margin-bottom: 80px;
}

.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
  padding: 12px;
  margin: 30px;
  width: 80%;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
}
